@charset "UTF-8";

.control label.error {
    position: absolute;
    right: 25px;
    top: 5px;
    padding: 10px;
    color: red;
}
.is-uppercase {
  text-transform: uppercase;  
}

.headline {
  font-family: "Comfortaa", "Helvetica", "Arial", sans-serif;
}

.dark-section {
  background-color: #696883 !important;
}

.rangeslider__fill {
  background: #942d80 !important;
}

.rangeslider__handle {
  border: 1px solid #302f48 !important;
  background-image: none !important;
  box-shadow: none !important;
}

.rangeslider__handle:after {
  background-image: none !important;
}
.message {
    position: absolute;
    z-index: 9999;
    width: 500px;
    top: 10px;
    right: 10px;
    box-shadow: 5px 5px 5px #302f48;
}

.is-info .label, .is-primary .label {
  color: #ffffff;
}
.agenda, .announcement {
    border-bottom: 1px solid #696883;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.course, {
  border-bottom: 1px solid #696883;
  padding-top: 10px;
  padding-bottom: 20px;
}

.course:last-child, .announcement:last-child {
  border: none;
}


.masonary {
    column-count: 3;
    column-gap: 1em;
}

.masonary-item {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1.25rem;
  width: 100%;
  display: inline-block;
  margin: 0 2px 15px;
}
