$fa-font-path: "../fonts/font-awesome";
$font-family-sans-serif:  font-family: 'Open Sans', sans-serif;
$font-family-serif: font-family: 'Gentium Basic', serif;
$font-family-cursive: font-family: 'Open Sans', sans-serif;